flwr==1.8.0
scikit-learn==1.4.2
pandas==2.2.2
numpy==1.26.4
shap==0.45.0
matplotlib==3.8.4
seaborn==0.13.2
streamlit==1.33.0
diffprivlib==0.6.4
groq==0.5.0
python-dotenv==1.0.1
joblib==1.4.2
plotly==5.21.0
imbalanced-learn==0.12.2
